@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

$darkSkyBlue: #99c3cc;
$tuscany: #cc9999;
$lightGrayishMagenta: #cb99cc;
$laurelGreen: #a6cc99;

body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

.App {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100vh;
	&__cover {
		width: 50%;
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		width: 50%;
		padding: 0 50px;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		&-inner {
			width: 100%;
			max-width: 494px;
			margin: 0 auto;
		}
		&-title {
			font-size: 31.25px;
			line-height: 40.62px;
			font-weight: 700;
			margin: 0 0 12px 0;
		}
		&-text {
			font-size: 16px;
			line-height: 25.6px;
			font-weight: 400;
			margin: 0 0 27px 0;
		}
		&-button {
			background: none;
			border: none;
			cursor: pointer;
			font-size: 12.8px;
			line-height: 17.48px;
			font-weight: 900;
			padding: 5px 0;
			margin: 0 0 12% 0;
			border-bottom: 1px solid #000;
		}
	}
	@media screen and (max-width: 768px) {
		flex-direction: column;
		&__cover {
			width: 100%;
			height: 58%;
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 50%;
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 78.65%);
				opacity: 0.5;
			}
		}
		&__content {
			width: 100%;
			position: absolute;
			top: 19%;
			bottom: 0;
			z-index: 2;
			padding: 0 24px;
			&-title {
				font-size: 20px;
				line-height: 26px;
				font-weight: 700;
				color: #fff;
			}
			&-text {
				display: none;
			}
			&-button {
				color: #fff;
				border-bottom-color: #fff;
			}
		}
	}
}

.product__slider {
	width: 100%;
	position: relative;
	&-swiper {
		overflow: visible;
	}
	&-navigation {
		position: absolute;
		top: 36.6%;
		z-index: 2;
		width: 40px;
		height: 40px;
		border: 1px solid #0000001a;
		display: flex;
		align-items: center;
		justify-content: center;
		&_prev {
			right: calc(100% + 20px);
		}
		&_next {
			left: calc(100% + 20px);
		}
		&.swiper-button-disabled {
			display: none;
		}
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}
.product__item {
	display: grid;
	text-decoration: none;
	row-gap: 12px;
	&-image {
		margin: 0;
		padding: 0;
		font-size: 0;
		img {
			width: 100%;
			height: auto;
		}
	}
	&-textwrap {
		display: grid;
		gap: 4px;
		font-size: 12.8px;
		line-height: 20.48px;
		color: #000;
	}
	&-title {
		font-weight: 400;
	}
	&-property {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		&_price {
			font-weight: 500;
		}
		&_list {
			pointer-events: none;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 8px;
			align-items: center;
			justify-content: flex-end;
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				width: 12px;
				height: 12px;
				position: relative;
				span {
					display: none;
				}
				input[type='radio'] {
					pointer-events: all;
					cursor: pointer;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 16px;
					height: 16px;
					transform: translate(-50%, -50%);
					margin: 0;
					padding: 0;
					opacity: 0;
					&:checked + label {
						border: 1px solid #000;
						&::after {
							border: 2px solid #fff;
						}
					}
				}
				label {
					width: 100%;
					height: 100%;
					display: block;
					border-radius: 50%;
					box-sizing: border-box;
					cursor: pointer;
					transition: all 0.2s ease-in-out;
					&::after {
						transition: all 0.2s ease-in-out;
						content: '';
						width: 100%;
						height: 100%;
						display: block;
						border-radius: 50%;
						box-sizing: border-box;
					}
				}
				&.darkSkyBlue label::after {
					background-color: $darkSkyBlue;
				}
				&.tuscany label::after {
					background-color: $tuscany;
				}
				&.lightGrayishMagenta label::after {
					background-color: $lightGrayishMagenta;
				}
				&.laurelGreen label::after {
					background-color: $laurelGreen;
				}
			}
		}
	}
}
